*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@media (max-width: 600px) {
  html {
    font-size: 15px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 400px) {
  html {
    font-size: 12px; /* Further adjust font size for very small screens */
  }
}

body {
  margin: 0;
}

.navbar {
  overflow: hidden;
  background-color: red;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-weight: bolder;
}

.nav-list li {
  float: left;
}

.nav-list li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-list li a:hover {
  color: white;
}

.profile-pic {
  border-radius: 50%;
  max-width: 100%; /* Ensure profile pic fits within its container */
  height: auto;
  object-fit: contain;
}

.home-page,
.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh; /* Use min-height to ensure content takes up full viewport height */
  background-color: #000;
}

#home-header,
#home-text,
#about-text-one,
.about-content-container p {
  color: white;
  font-weight: bolder;
}

#home-header {
  font-size: 3em; /* Responsive font size for home header */
}

#home-text {
  font-size: 1.5em; /* Responsive font size for home text */
  padding-top: 3%;
}

#about-text-one {
  font-size: 2em; /* Responsive font size for about text */
  text-align: center;
}

#about-text-two {
  font-size: 1em; /* Responsive font size for about text */
  margin-top: 20px; /* Adjusted margin for smaller screens */
  margin-left: 5px;
  word-break: normal;
}

.barchart-container {
  padding-top: 5%;
  padding-right: 20%;
}

.barchart-container p{
  color: white;
}

.skills-container {
  width: 400%; /* Adjusted width for smaller screens */
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding: 10px;
  color: white;
}

/* Adjusted width and background color for smaller screens */
.html {
  width: 90%;
  background-color: #f44336;
}

.css,
.js,
.java,
.c-sharp {
  width: 60%;
  background-color: #f44336;
}

.python {
  width: 50%;
  background-color: #f44336;
}

.sql {
  width: 70%;
  background-color: #f44336;
}
