  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  *{
    margin: 0;
    padding: 0;
  }

  html{
      box-sizing: border-box;
      scroll-behavior: smooth;
  }

  @media (max-width: 50px){
    html{
      font-size: 30%;
    }
  }
  
  @media (max-width: 25px){
    html{
      font-size: 20%;
    }
  }
  
  @media (max-width: 20px){
    html{
      font-size: 15%;
    }
  }
  
  body {
    margin: 0;
  }

  .navbar{
    overflow: hidden;
    background-color: red;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-weight: bolder;
  }

  .nav-list li {
    float: left;
  }

  .nav-list li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav-list li a:hover{
    color:white;
  }

  @media screen and (max-width: 600px) { 
    ul.nav-list li, .home-page {flex-direction: column;}
  }

  .profile-pic{
    border-radius: 50%;
    height: auto;
    max-width: auto;
    object-fit: contain;
  }

  .home-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:#000;
  }


  #home-header{
    color: white;
    font-weight:bolder;
    font-size: 50px;
  }

  #home-text{
    color: white;
    font-weight:bolder;
    font-size: 20px;
    
  }

  .about-page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:#000;
    flex: auto;
  }

  .about-content-container p{
    color: white;
    font-weight:bolder;
  }

  #about-text-one{
    font-size:35px;
    text-align: center;
  }

  #about-text-two {
    text-indent: 30px;
    overflow-wrap: break-word;
    word-break: keep-all;
    font-size: 20px; /* reduced font size */
    line-height: 1.5; /* increased line height */
    text-align:inherit;
    margin-top: 30px;
  }

  .barchart-container p{
    color: white;
  }

  .skills-container {
    width: 600%; /* Full width */
    background-color: #ddd; /* Grey background */
  }

  .skills {
    text-align: right; /* Right-align text */
    padding-top: 10px; /* Add top padding */
    padding-bottom: 10px; /* Add bottom padding */
    color: white; /* White text color */
  }

  .html {
    width: 90%;
    background-color: #f44336;
  }

  .css {
    width: 80%;
    background-color: #f44336;
  }

  .js {
    width: 65%;
    background-color: #f44336;
  }

  .java {
    
  }